@model IEnumerable<WebEncuesta.Models.Pregunta>

@{
    ViewBag.Title = "EnPage.";
    Layout = "~/Views/Shared/_LayoutSum.cshtml";
}
<link href="~/Content/css/wizard.css" rel="stylesheet" />

<main class="pt-3 mx-lg-5">
    <div class="container-fluid mt-3">
        <!-- Heading -->

        <div class="card mb-4 wow fadeIn">
            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>@Model.FirstOrDefault().cTipEncuesta</span>
                </h4>
            </div>
        </div>
        <div class="jumbotron">
            <div class="stepwizard col-md-offset-3">
                <div class="stepwizard-row setup-panel">


                    @foreach (var item in Model.Take(1))
                    {<div class="stepwizard-step">
                            <a href="#step-@item.iNumPregunta" type="button" class="btn btn-primary btn-circle">@item.iNumPregunta</a>
                            @*<p>Step 1</p>*@
                        </div>
                    }
                    @foreach (var item in Model.Skip(1))
                    {<div class="stepwizard-step">
                            <a href="#step-@item.iNumPregunta" type="button" class="btn btn-default btn-circle" disabled="disabled">@item.iNumPregunta</a>
                            @*<p>Step 1</p>*@
                        </div>
                    }
                </div>


            </div>
            <br />
            @foreach (var item in Model)
            {
                <form name="formulario" action="" method="post" onSubmit="return validar();">
                    <div class="row setup-content" id="step-@item.iNumPregunta">
                        <div class="col-md-12">
                            <div class="card">
                                <h5 class="card-header">@item.cPregunta</h5>
                                <div class="card-body" id="div_@item.iIdPregunta">
                                    @foreach (var sub in item.SubPreguntas)
                                    {
                                        string id = "ctrl_" + item.iIdPregunta + "_" + sub.iIdSubPregunta;
                                        switch (item.cDesc)
                                        {
                                            case "Texto":
                                                <div class="col-md-6">
                                                    @*<input type="text" id="@sub.iIdSubPregunta" class="form-control" placeholder="Agrega un comentario" />*@
                                                    <textarea type="text" id="txtSugerencia" class="form-control frmSurvey" rows="5" placeholder="Agrega un comentario"></textarea>
                                                </div>
                                                break;

                                            case "Check":
                                                <div class="col-md-6">
                                                    <div class="form-check-inline">
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="frmSurvey" name="sub.iIdSubPregunta" id=@id value="@sub.iIdSubPregunta"> @sub.cSubPregunta
                                                        </label>
                                                    </div>
                                                </div>
                                                break;
                                            case "Radio":
                                                <div class="col-md-6">
                                                    <label class="radio">
                                                        <input type="radio" class="frmSurvey" name="sub.iIdSubPregunta" id=@id value="@sub.iIdSubPregunta"> @sub.cSubPregunta
                                                    </label>
                                                </div>
                                                break;
                                            @*case "Dropdopwnlist":
                                                <select id="ddlSubpregunta" class="form-control">
                                                    <option value="0" selected>Seleccione</option>
                                                    <option value="@sub.iIdSubPregunta" selected>@sub.cSubPregunta</option>

                                                </select>
                                                break;*@
                                            default:
                                                break;
                                        }


                                    }
                                    @if (Model.Last().iIdPregunta == item.iIdPregunta)
                                    {
                                        <button class="btn btn-primary btn-lg pull-right" id="btnSave" type="button">Envíar</button>
                                    }
                                    else

                                    {
                                        <button class="btn btn-primary nextBtn btn-lg pull-right" id="@item.iIdPregunta" type="button">Siguiente</button>
                                    }

                                </div>
                            </div>


                        </div>
                    </div>





                </form>
            }
        </div>
    </div>
</main>

@section scripts
{

    <script>

        var IsValid = function (idPregunta) {
            var isValid = false;
            $("#div_" + idPregunta + " :input").each(function () {
                if ($(this).is(":checked")) {
                    isValid = true;
                    return false;
                }
            })

            if (!isValid) {
                Swal.fire('Favor de seleccionar una opción')
                return false;
            }

            return true;
        }

        $(document).ready(function () {
            $('#btnSave').click(function () {
                var values = [];
                $('.frmSurvey:checked').each(function () {
                    values.push($(this).attr("id"));
                });
                //$('.frmSurvey:input[type="text"]').each(function () {
                //    var textos = {};
                //    textos[$(this).attr("id")] = $(this).val();
                //    console.log(textos);

                //})
                var sugerencia = $('#txtSugerencia').val();



                $.ajax({
                    url: "SaveSurvey",
                    type: "POST",
                    data: { sugerencia: sugerencia, subPreguntas: values },
                    success: function (res) {
                        Swal.fire('Encuesta guardada')
                    },
                    error: function (res) {
                        Swal.fire('Error al guardar')
                    }

                });


            });
            var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-primary').addClass('btn-default');
                    $item.addClass('btn-primary');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='radio'],input[type='check']"),
                    isValid = true;

                isValid = IsValid($(this).attr("id"));
                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }

                if (isValid)
                    nextStepWizard.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel div a.btn-primary').trigger('click');
        });

    </script>

}
