<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    
    <title>Encuestas</title>
</head>
<body class="grey lighten-3">
    <!--Main Navigation-->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid">
            <!-- Brand -->
            <a style="color:#006140" aling="center">FINANCIERA SUMATE</a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" style="color:#FFB718" href="@Url.Action("Page", "AdminPage")">
                            Encuestas

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" style="color:#FFB718" href="@Url.Action("Usuario", "AdminPage")">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" style="color:#FFB718" href="#">
                            Datos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" style="color:#FFB718" href="#">
                            Sucursal
                        </a>
                    </li>
                </ul>
                <!-- Right -->

            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">
        <a class="logo-wrapper waves-effect">
            <img src="~/Content/sumate1.jpg" class="img-fluid" alt="" />
        </a>
        <div class="list-group list-group-flush">
            <a href="@Url.Action("Page", "AdminPage")" class="list-group-item" style="color:#006140; background:#FFB718">
                <i class="fas fa-chart-pie mr-3"></i>Encuestas
            </a>
            <a href="#" class="list-group-item list-group-item-action waves-effect" style="color:#006140">
                <i class="fas fa-user mr-3"></i>Home
            </a>
            <a href="#" class="list-group-item list-group-item-action waves-effect" style="color:#006140">
                <i class="fas fa-table mr-3"></i>Datos
            </a>
            <a href="#" class="list-group-item list-group-item-action waves-effect" style="color:#006140">
                <i class="fas fa-map mr-3"></i>Sucursal
            </a>
            <a href="@Url.Action("Index", "Login")" class="list-group-item list-group-item-action waves-effect" style="color:#006140">
                <i class="fas fa-map mr-3"></i>Salir
            </a>
        </div>
    </div>
    <!-- Sidebar -->
    <!--Main Navigation-->
    <!--Main layout-->
    <!--Main layout-->
    <!--Footer-->
    @RenderBody()
    <footer class="page-footer text-center font-small" style="background-color:#006140">
        <hr class="my-5">
        <!--Copyright-->
        <div class="footer-copyright py-4" style="color:#006140; background:#FFB718">
            © 2019 Copyright:              Todos los derechos reservados.
            FINANCIERA SÚMATE® S.A de C.V S.F.P.
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->

    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Content/js/mdb.min.js"></script>
    <script src="~/Content/js/addons/datatables.min.js"></script>

    <script src="~/Content/js/Sumate.js"></script>
    <script src="~/Content/js/Wizscript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {
            // $('#tblPersona').DataTable();
            if (!$.fn.DataTable.isDataTable('#tblEncuestas')) {
                tableSinFiltro('#tblEncuestas');
            }
        });

        $(document).ready(function () {
            $('#mostrarmodal').modal('show');
        });

    </script>
</body>
</html>


